:root{
    --bg-main-color: #fff;
    --bg-secondary-color: #f1f1f1;
    --bg-accent-color: #292929;
    --text-main-color: #000;
    --text-addition-color: rgb(117, 117, 117);
    --text-alt-color: rgb(255, 255, 255);
    --text-secondary-color: #666;
    --icon-main-color: #fff;
    --icon-secondary-color: #8f8f8f;
    --accent-brand-color: #8edb29;
    --accent-danger-color: #d5401f;
    --accent-danger-secondary-color: #fdf0ed;
    --tooltip-bg-color: #fff705;
    --stroke-main-color: #e0e0e0;
}

*, ::after, ::before {
    box-sizing: inherit;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.h {
    margin-top: 0;
    font-weight: 500;
    word-break: break-word;
}

.h--1{
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
}

.h--2{
    font-size: 24px;
    line-height: 26px;
    font-weight: 600;
}

.h--3{
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: var(--text-addition-color);
}

.h--4{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 12px;
}

.h--5{
    font-size: 18px;
    line-height: 20px;
    color: var(--text-alt-color);
}

.h2{
    margin-top: 0;
    font-weight: 500;
    word-break: break-word;
}

.t {
    margin-top: 0;
    font-size: 18px;
    line-height: 22px;
}

.t--1{
    font-weight: 600;
}

.t--2 {
    font-weight: 400;
}

.t--3 {
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
}

.t--4 {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
}

.f {
    line-height: 20px;
    font-weight: 400;
}

.f--1 {
    font-size: 16px;
}

.f--2{
    font-size: 12px;
    line-height: 16px;
}

@font-face {
	font-family: 'Avenir';
	src: url('fonts/Avenir Next W1G Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Avenir', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-main-color);
    background-color: var(--bg-main-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

.header {
    width: 100%;
}

.header__wrapper {
    display: grid;
    grid-gap: 2px 10px;
    grid-template-columns: 84px auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 13px;
}

.header__logo {
    grid-row: 1 / 3;
    text-align: center;
}

.header__logo p{
    font-weight: 700;
}

.header__text {
    grid-row: 1 / 3;
    text-align: right;
    font-size: 16px;
    line-height: 22px;
}

.submit__bar{
    position: fixed;
    z-index: 2;
    box-shadow: 0 0 2px rgba(0, 0, 0, .08), 0 4px 16px rgba(0, 0, 0, .08);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 20px 20px;
    border-radius: 20px 20px 0 0;
    transition: .3s ease;
    will-change: transform;
    background-color: var(--bg-secondary-color);
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.submit__button{
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 17px 32px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-alt-color);
    background-color: var(--accent-brand-color);
}

.ui-button{
    margin: 0;
    font: inherit;
    -webkit-tap-highlight-color: transparent;
    display: block;
    border: 1px solid;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 150ms ease-out, color 150ms ease-out, border-color 150ms ease-out;
    user-select: none;
}

.block-1.block {
    padding-top: 0;
}

.block {
    padding: 32px 0;
}

.block--default{
    background-color: var(--bg-main-color);
}

.block--special{
    background-color: var(--bg-secondary-color);
}

.block-1__block {
    position: relative;
    margin-right: 4px;
    margin-left: 4px;
    padding-top: 48px;
    padding-bottom: 20px;
    border-radius: 20px;
    color: var(--text-main-color);
    background-color: var(--bg-secondary-color);
    overflow: hidden;
}

.block-1__wrapper {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
    padding-bottom: 32px;
}

.block-1__title {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.block-1__subtitle {
    display: block;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-bottom: 0;
    text-align: center;
}

.block-1__pic {
    position: relative;
    width: calc(100% + 32px);
    height: unset;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    margin: 0 -16px -64px;
}

.ui-picture {
    display: block;
}

.ui-picture__img--cover {
    height: 100%;
    object-fit: cover;
}

.ui-picture__img {
    display: block;
    width: 100%;
    object-fit: cover;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
}

.block-2__title {
    margin-bottom: 12px;
    font-size: 32px;
    line-height: 32px;
}

.block-2__media, .block-9__media-2{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 16px;
    overflow: hidden;
}

.block-3{
    overflow: hidden;
}

.block-3__title{
    margin-bottom: 32px;
    text-align: center;
}

.block-3__list, .block-4__list, .block-5__list, .block-6__list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.block-3__item{
    position: relative;
    display: flex;
    flex-direction: column;
}

.block-3__item:not(:last-child){
    margin-bottom: 48px;
}

.block-3__description{
    font-size: 16px;
    line-height: 20px;
    margin-top: 12px;
    margin-bottom: 0;
    color: var(--text-addition-color);
}

.block-3__media{
    position: relative;
    margin-top: 24px;
    height: 50vw;
    border-radius: 20px;
    overflow: hidden;
    isolation: isolate;
}

.ui-video{
    width: 100%;
    aspect-ratio: 16 / 9;
}

.block-3__media{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ui-video__media{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ui-video__media--cover{
    height: 100%;
    object-fit: cover;
}

.block-4__item:not(:last-child){
    margin-bottom: 24px;
}

.block-4__picture{
    display: block;
    width: 150px;
    height: 150px;
    margin-bottom: 8px;
}

.ui-picture--contain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-picture__img--contain {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.block-4__subtitle{
    display: block;
}

.block-4__description{
    font-size: 16px;
    line-height: 20px;
    margin-top: 12px;
    margin-bottom: 0;
    color: var(--text-addition-color);
}

.ui-text-group{
    margin-bottom: 0;
}

.block-5__wrapper{
    margin-left: 4px;
    margin-right: 4px;
    padding-top: 36px;
    padding-bottom: 36px;
    border-radius: 20px;
    background-color: var(--bg-secondary-color);
}

.block-5__title{
    margin-bottom: 32px;
}

.block-5__block{
   padding: 20px;
   border-radius: 20px;
   background-color: var(--bg-main-color);
}

.block-5__block--advantages{
 margin-bottom: 8px;
}

.block-5__list:not(:last-child) {
    margin-bottom: 32px;
}

.block-5__item:not(:last-child) {
    margin-bottom: 12px;
}

.block-5__item{
   position: relative;
   padding-left: 30px;
}

.block-5__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    color: var(--accent-brand-color);
}

.block-6__title{
    margin-bottom: 32px;
}

.block-6__item--activate .block-6__card{
    padding-bottom: 8px;
    background-color: var(--bg-secondary-color);
    border-radius: 20px;
    cursor: default;
}

.block-6__card{
    padding: 20px 8px;
    border-radius: 20px;
    outline: 0;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

.block-6__text{
    padding-left: 12px;
    padding-right: 12px;
}

.block-6__item--activate .block-6__subtitle {
    color: var(--text-main-color);
}

.block-6__subtitle{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 24px;
    align-items: center;
    margin-bottom: 0;
    color: var(--text-addition-color);
    transition: color 70ms ease-in-out;
}

.block-6__item--activate .block-6__icon {
    display: none;
}

.block-6__icon{
    display: block;
    width: 24px;
    height: 24px;
    color: var(--icon-secondary-color);
    transition: color 70ms ease-in-out;
}

.block-6__item--activate .block-6__description {
    height: auto;
    min-height: 80;
}

.block-6__description{
    height: 0;
    overflow: hidden;
    margin-bottom: 0;
    color: var(--text-secondary-color);
    transition: height 300ms ease-in-out;
}

.block-6__description-text {
    display: block;
    padding-top: 20px;
}

.block-6__item .block-6__pic {
    display: none;
}

.block-6__pic{
    position: relative;
    transition: padding-top 300ms ease-in-out;
    border-radius: 16px;
    overflow: hidden;
}

.block-6__pic img, .block-6__pic video {
    position: absolute;
    top: 0;
    left: 0;
}

.block-6__item--activate .block-6__pic {
    margin-top: 24px;
    display: block;
    position: relative;
    height: auto;
    aspect-ratio: 16/9;
}
.block-6__item--activate .block-6__pic img {
    position: static;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block-6__item-2:not(:last-child), .ui-footer-contacts__item:not(:last-child) {
    margin-bottom: 12px;
}

.block-6__item-2, .ui-footer-contacts__item {
    position: relative;
    padding-left: 36px
}

.block-6__icon-2, .ui-footer-contacts__icon{
    position: absolute;
    left: 0;
    top: -1px;
}

.block-6__item-2 span {
    color: var(--text-secondary-color);
    display: block;
}

.block-6__list {
    margin-bottom: 12px;
}

.block-7__wrapper {
    margin-right: 4px;
    margin-left: 4px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 20px;
    background-color: var(--bg-secondary-color);
}

.block-7__block{
    padding: 20px;
    border-radius: 20px;
    background-color: var(--bg-main-color);
}

.block-7__list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.block-7__list:not(:last-child){
    margin-bottom: 32px;
}

.block-7__item:not(:last-child), .message__item:not(:last-child) {
    margin-bottom: 12px;
}

.block-7__item{
   position: relative;
   padding-left: 30px;
}

.block-7__checkmark, .message__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    color: var(--text-main-color);
}

.block-8__group,
.block-12__group {
    margin-bottom: 32px;
}

.block-8__accordion,
.block-12__accordion,
.ui-accordion{
    border-radius: 20px;
}

.ui-accordion{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.accordion__item:not(:last-child){
    margin-bottom: 2px;
}

.accordion__item {
    position: relative;
    transition: margin 0.3s ease;
}

.ui-spoiler[open]{
    height: calc(100% + 4px);
}

.ui-spoiler {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    transition: all 300ms ease-in-out;
    background-color: var(--bg-secondary-color);
    padding: 20px;
    padding-bottom: 10px;
    transition:
        all 0.5ms ease-in-out,
        margin-bottom 0.5s ease-in-out,
        height 0.5s cubic-bezier(0.4, 0, 0.2, 1),
        background-color 0.5s ease,
        filter 0.5s ease;
    margin-bottom: 0;
}

.ui-spoiler:not([open]):hover {
    background-color: color-mix(in srgb, var(--bg-secondary-color) 90%, white 10%);
    cursor: pointer;
}

.ui-spoiler__summary:active {
    filter: brightness(0.98);
}

.ui-spoiler[open] {
    background-color: color-mix(in srgb, var(--bg-secondary-color) 95%, white);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.ui-spoiler[open]{
    height: calc(100% + 4px);
    background-color: var(--bg-secondary-color);
}

.ui-spoiler__summary {
    display: block;
    padding: 12px;
    outline: 0;
}

.ui-spoiler__title {
    display: grid;
    grid-column-gap: 12px;
    grid-template-columns: 1fr 32px;
    align-items: center;
    pointer-events: none;
}

strong {
    font-weight: 500;
}

.ui-spoiler__title-wrapper{
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    word-break: break-word;
}

.ui-spoiler__title-text{
    color: var(--text-main-color);
}

.ui-spoiler__icon {
    background-color: var(--bg-main-color);
    color: var(--text-main-color);
    grid-row: 1 / 3;
    grid-column: 2 / 2;
    align-self: center;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
    transition: 
        background-color 0.5s ease,
        transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.ui-spoiler:hover .ui-spoiler__icon {
    transform: scale(1.05);
}

.ui-animated-chevron{
    width: 32px;
    height: 32px;
    display: block;
    flex-shrink: 0;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}

.ui-spoiler[open] .ui-animated-chevron{
    transform: rotate(180deg);
}

.ui-spoiler[open] .ui-spoiler__icon{
    background-color: var(--text-main-color);
    color: var(--bg-main-color);
}

.ui-animated-chevron circle {
    fill: currentColor;
    transition: fill 200ms ease-in-out;
}

.ui-animated-chevron path {
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
}

.ui-spoiler__content{
    opacity: 1;
    max-height: none;
    padding: 20px;
    transform: translateY(0);
}

.ui-spoiler[open] .ui-spoiler__content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ui-spoiler__content-wrapper {
    overflow: hidden;
    transition: 
        opacity 0.5s ease,
        transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
        max-height 0.5s ease-in-out;
    max-height: 0;
    opacity: 0;
}

.ui-spoiler.closing .ui-spoiler__content-wrapper {
    transition-duration: 0.3s;
}

.ui-spoiler[open] .ui-spoiler__content-wrapper {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
}

.ui-spoiler:not([open]) .ui-spoiler__content-wrapper {
    opacity: 0;
    transform: translateY(-10px);
}

.ui-content-wrapper{
    --item-indent: 12px;
    --column-gap: 8px;
}

.ui-list{
    --item-indent: 12px;
    --column-gap: 8px;
}

.ui-content-wrapper ul, ul.ui-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: var(--item-indent);
}

.ui-content-wrapper ul li {
    position: relative;
    padding-left: calc(6px + var(--column-gap));
}

.ui-spoiler__info-item {
    position: relative;
    padding-left: 18px;
    color: var(--text-secondary-color);
}

.ui-spoiler__info-item-dot{
    position: absolute;
    left: 0;
    top: calc(.5lh - 3px);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--text-main-color);
    content: "";
}

.block-8__group-title{
    position: absolute;
    top: -12px;
    left: 20px;
    padding: 6px 14px;
    border-radius: 12px;
    background: var(--text-main-color);
    color: var(--bg-main-color);
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    z-index: 1;
    transform: none;
    margin: 0;

}

.block-9__media {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    aspect-ratio: 3/4;
    margin-bottom: 12px;
}

.block-9__picture{
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 3/4;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
}

.block-9__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.block-9__media-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 20px 20px;
    z-index: 1;
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
    color: white;
    border-radius: 0 0 20px 20px;
}

.block-9__media-title{
    color: inherit;
    margin-bottom: 12px;
}

.block-9__media-description{
    color: rgba(255,255,255,0.9);
    font-size: 16px;
    line-height: 1.4;
}

.block-9__wrapper .block-6__title-2{
 margin-top: 32px;
}

.block-9__slider{
    position: relative;
}

.slideer__controls{
    align-items: center;
}

.swiper{
    overflow: visible !important;
}

.block-9__slider .swiper-pagination-fraction {
    top: 12px !important;
    left: 12px !important;
    width: auto !important;
    transform: none !important;
    bottom: auto !important;
    display: inline-block !important;
    padding: 6px 12px;
    border-radius: 20px;
    background: var(--bg-main-color);
    color: var(--text-addition-color);
    font-size: 15px;
    line-height: 18px;
}

.slider__count{
    margin: 0;
}

.slider__list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0ms;
}

.slider__item {
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
}

.slider__item--active {
    position: relative;
}

.block-9__slider-media{
    margin-bottom: 8px;
    position: relative;
    flex-shrink: 0;
    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 16 / 9;
}

.block-9__slider-text{
    padding: 20px;
    border-radius: 20px 20px;
    background-color: var(--bg-secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
}

.block-9__slider-subtitle{
    display: block;
}

.block-9__slider-description{
    color: var(--text-secondary-color);
}

.block-9__item{
    position: relative;
    display: flex;
    flex-direction: column;
}

.block-9__item:not(:last-child){
    margin-bottom: 24px;
}

.block-10__block{
    margin-right: -16px;
    margin-left: -16px;
    padding-right: 16px;
    padding-left: 16px;
    position: relative;
    padding: 32px;
    border-radius: 12px;
    background-color: var(--bg-main-color);
}

.block-10__price-wrapper{
    border-radius: 16px;
    overflow: hidden;
    border: 2px solid var(--tooltip-bg-color);
}

.block-10__price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px 16px;
    color: var(--admin-color);
    text-align: center;
    background-color: var(--tooltip-bg-color);
}

.block-10__price-header{
    margin-bottom: 8px;
}

.block-10__price-text{
    margin-bottom: 0;
}

.block-10__info {
    padding: 16px;
}

.block-10__item{
    position: relative;
    padding-left: 30px;
}

.block-11{
    padding: 24px;
}

.block-11__wrapper {
    padding: 20px;
    background-color: var(--bg-secondary-color);
    border-radius: 20px;
    color: var(--text-main-color);
}


.block-11__picture {
    width: 180px;
    height: 180px;
    margin-bottom: 0px;
    overflow: hidden;
    border-radius: 12px;
}

.ui-picture__img{
    height: 100%;
    object-fit: cover;
}

.block-12__accordion-desc{
    border-radius: 20px;
    background-color: var(--bg-main-color);
}

.ui-footer{
    position: relative;
    z-index: 3;
    color: var(--text-alt-color);
    background-color: var(--bg-accent-color);
}

.ui-footer__block {
    padding-top: 40px;
    padding-bottom: 40px;
}

.ui-footer__logo p{
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 40px;
}

.ui-footer-contacts__list{
    margin-bottom: 28px !important;
}

.ui-footer-contacts__icon{
    display: block;
    width: 24px;
    height: 24px;
    color: var(--icon-main-color);
    fill: var(--icon-main-color);
}

.ui-footer-contacts__desc{
    --item-indent: 6px;
}



.application-form__block {
    margin-left: -16px;
    margin-right: -16px;
    position: relative;
    padding: 32px;
    border-radius: 16px;
    background-color: var(--bg-main-color);
}

.application-form__title{
    margin-bottom: 32px;
}

.application-form__form{
    display: flex;
    flex-direction: column;
}

.form__input{
    margin-bottom: 16px;
}

.ui-field--error {
    --bg-field-color: var(--accent-danger-secondary-color);
}

.ui-field {
    --bg-field-color: var(--bg-secondary-color);
}

.ui-field__label {
    position: relative;
    display: block;
}

.ui-field--error .ui-field__input{
    border-color: var(--accent-danger-color);
    background-color: var(--accent-danger-secondary-color);
}

.ui-field__input{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    padding: 23px 18px 10px;
    border: 1px solid var(--stroke-main-color);
    border-radius: 10px;
    overflow: hidden;
    color: var(--text-main-color);
    font-family: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: var(--bg-secondary-color);
    box-shadow: none;
    transition: border-color .2s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form__input-short-answer .ui-field__input{
    height: auto;
    min-height: 56px;
    white-space: normal; 
    word-wrap: break-word;
    resize: vertical; 
    overflow-y: auto;
}

.ui-field--active .ui-field__name {
    transform: translate(-14%, -44%) scale(.7);
}

.ui-field__name {
    font-size: 16px;
    position: absolute;
    top: 16px;
    left: 18px;
    color: var(--text-secondary-color);
    transition: all .2s ease-in-out;
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 36px);
}

.ui-field--error .ui-field__desc--error {
    display: block;
}

.ui-field__desc--error {
    display: none;
    color: var(--accent-danger-color);
}

.ui-field__desc {
    margin-top: 8px;
    font-size: 11px;
    line-height: 14px;
}

.form__button {
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
}

.message__error {
    position: absolute;
    top: -5px;
    left: 0;
    display: none;
    grid-column-gap: 12px;
    grid-template-columns: 24px 1fr 40px;
    width: 270px;
    padding: 12px 0 12px 12px;
    border-radius: 10px;
    color: var(--accent-always-white-color);
    background-color: var(--accent-danger-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .04), 0 4px 20px rgba(0, 0, 0, .1);
    transform: translateY(-100%);
    opacity: 0;
}

.message {
    display: none;
}

.message__close {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    color: inherit;
    font: inherit;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    top: -12px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.form__submit-button{
    box-sizing: border-box;
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    padding: 17px 32px;
    border-radius: 12px;
    color: var(--bg-main-color);
    font-weight: 500;
    background-color: var(--accent-brand-color);
    margin: 0;
    font: inherit;
    -webkit-tap-highlight-color: transparent;
    display: block;
    width: -moz-max-content;
    border: 1px solid transparent;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 150ms ease-out, color 150ms ease-out, border-color 150ms ease-out;
    -moz-user-select: none;
    user-select: none;
}

.ui-button__loader{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin: auto;
    color: var(--icon-main-color);
}

.ui-loader__icon {
    animation: rotate 1s linear infinite;
}

textarea.ui-field__input {
    min-height: 100px;
    resize: vertical;
    white-space: pre-wrap;
}

.message__success{
    display: flex;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 12px;
    height: 100%;
    text-align: center;
    background-color: var(--bg-main-color);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.message__success[style*="display: none"] {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
}

.message__close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-main-color);
    background-color: var(--bg-secondary-color);
    -webkit-tap-highlight-color: transparent;
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    transition: .3s ease;
}

.ui-icon-button__icon{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    color: inherit;
}


.message__icon{
    display: block;
    width: 24px;
    height: 24px;
    margin-bottom: 16px;   
}
.message__content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.message__header{
    margin-bottom: 12px;
}

.message__title{
    padding-right: 40px; 
}

.message__subtitle{
    margin-top: 0px;
    margin-bottom: 0;
}

.message__list{
    margin-top: 12px !important;
    margin-bottom: 24px !important;
    row-gap: 4px !important;
}
.message__desc{
    margin-top: 8px;
}


@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes bg-show {
    from { background: transparent; }
    to { background: rgba(0, 0, 0, .75); }
}
@keyframes slide-top {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}
@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}
@media (max-width: 1023.9px) {
    .ui-container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .header__text {
        max-width: 185px;
    }
    .block-1__wrapper {
        position: relative;
        padding-right: 16px;
        padding-left: 16px;
    }
    .block-1__title {
        text-align: center;
    }
    .block-1__pic {
        margin: 0 -16px -64px;
        padding-top: 99%; 
    }
    .block-1__pic img {
        position: absolute;
        top: 0;
        left: 0;
    }
    .block-3__media video{
        position: absolute;
        top: 0;
        left: 0;
    }
    .block-5__inner{
        padding-left: 16px;
        padding-right: 16px;
    }
    .block-8__wrapper{
        padding-right: 16px;
        padding-left: 16px;
    }
    .block-9__media {
        padding: 0;
        height: auto;
    }
    
    .block-9__media-text {
        padding: 20px 15px 15px;
    }
    
    .block-9__media-title {
        font-size: 20px;
    }
    
    .block-9_media-description {
        font-size: 14px;
    }
    .block-9__picture {
        aspect-ratio: 2/3;
        max-width: 100%;
    }
}

@media (min-width: 1024px) {
    .h--1 {
        font-size: 42px;
        line-height: 48px;
        margin-bottom: 40px;
    }

    .h--2 {
        font-size: 34px;
        line-height: 38px;
        margin-bottom: 40px;
    }
    
    .h--3{
        font-size: 26px;
        line-height: 24px;
    }
    
    .h--4{
        font-size: 26px;
        line-height: 30px;
    }
    
    .h--5{
        font-size: 22px;
        line-height: 24px;
    }

    .t--1 {
        font-size: 24px;
        line-height: 28px;
    }

    .t--2 {
        font-size: 24px;
        line-height: 28px;
    }

    .t--3 {
        font-size: 24px;
        line-height: 28px;
    }

    .t--4 {
        font-size: 22px;
        line-height: 26px;
    }
    
    .f {
        line-height: 26px;
    }
    
    .f--1 {
        font-size: 20px;
    }
    
    .f--2{
        font-size: 16px;
        line-height: 18px;
    }

    .ui-container {
        width: 928px;
        margin-right: auto;
        margin-left: auto;
    }

    .block {
        padding: 80px 0;
    }

    .block--default{
        padding-top: 20px;
    }

    .header__wrapper {
        padding: 28px 28px;
        grid-template-columns: 130px auto;
    }

    .header__logo{
        font-size: 30px;
        line-height: 32px;
    }

    .header__text {
        max-width: none;
        text-align: right;
        font-size: 22px;
    }

    .block-1__block{
        padding-bottom: 36px;
        border-radius: 32px;
    }

    .block-1__wrapper{
        padding-bottom: 0;
    }
    .block-1__title {
        grid-row: 2 / 3;
        margin-bottom: 0;
        text-align: left;
    }

    .block-1__subtitle {
        grid-row: 1 / 2;
        margin-bottom: 24px;
        text-align: left;
    }

    .block-1__pic {
        margin: 0 auto 0;
        max-width: 800px;
    }

    .block-2__wrapper{
        display: grid;
        grid-column-gap: 48px;
        grid-template-rows: auto 1fr;
        grid-template-columns: 432px 1fr;
    }

    .block-2__title{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .block-2__subtitle{
        margin-top: 18px;
    }

    .block-2__desc{
        grid-row: 2 / -1;
        grid-column: 1 / 2;
    }

    .block-2__media{
        grid-row: 1 / -1;
        grid-column: 2 / -1;
        width: 448px;
        height: 252px;
        margin-top: 0;
        border-radius: 20px;
    }

    .block-2__media .ui-picture{
        height: 100%;
    }

    .block-3__item:not(:last-child) {
        margin-bottom: 50px;
    }

    .block-3__text{
        width: 460px;
    }

    .block-3__media {
        flex-shrink: 0;
        width: 694px;
        height: 390px;
        border-radius: 32px;
        align-self: end;
    }

    .block-4__list, .benefits {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .block-4__item:not(:last-child) {
        margin-bottom: 0;
    }

    .block-5__wrapper {
        padding: 60px;
    }

    .block-5__inner {
        max-width: 900px;
        margin: 0 auto;
    }

    .block-6__card {
        padding-top: 28px;
        padding-bottom: 28px;
        border-radius: 32px;
    }

    .block-6__text {
        padding-right: 20px;
        padding-left: 20px;
    }

    .block-6__description-text{
        padding-top: 28px;
    }

    .block-6__title-2 {
        padding-top: 20px;
    }

    .block-7__wrapper {
        padding: 60px;
    }

    .block-8{
        margin-right: 4px;
        margin-left: 4px;
    }

    .block-8__accordion,
    .block-12__accordion {
        margin: 0 auto;
    }

    .block-9__media {
        max-width: 600px;
        margin: 0 auto 40px;
    }

    .block-9__media-2 {
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 16px;
        overflow: hidden;
    }

    .block-10__block {
        margin: 0 auto;
        border-radius: 32px;
    }

    .block-10__price-wrapper:not(:last-child) {
        margin-bottom: 40px;
    }

    .block-10__price {
        padding-bottom: 12px;
    }

    .block-10__price-header {
        margin-bottom: 20px;
    }

    .block-11__wrapper {
        border-radius: 32px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .block-11__picture {
        flex-shrink: 0;
    }

    .application-form__block {
        margin: 0 auto;
    }

    .ui-field__name{
        font-size: 20px;
    }
}

@media (min-width: 1280px) {
    
    .block-1__block{
        max-width: 968px;
        margin: 0 auto;
    }

    .block-1__wrapper{
        grid-template-columns: 450px 297px 1fr;
    }

    .block-1__title {
        grid-column: 1 / 2;
        margin-bottom: 72px;
    }

    .block-1__subtitle{
        grid-column: 1 / 3;
        margin-top: 12px;
    }

    .submit__bar{
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        align-self: flex-start;
        margin-bottom: 40px;
        position: relative;
        border-radius: 20px;
        padding: 12px;
    }

    .block-1__pic {
        grid-row: 2 / -1;
        grid-column: 2 / -1;
        align-self: flex-start;
        justify-self: flex-end;
        margin-right: -116px;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        width: 484px;
        height: auto;
    }

    .block-11 {
        padding-top: 80px;
    }

    .ui-field__desc {
        margin-top: 8px;
        font-size: 14px;
        line-height: 16px;
    }
}